.detail-page-container {
  background-color: #fff;
  font-size: 14px;
  .top-fixed-advertise {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 66;
    border: none;
    background-color: pink;
  }
  .quzzeDetail {
    font-size: 12px;
    img {
      width: 100%;
      margin: 75px 0 4px;
    }
    .question {
      margin: 0 16px 18px;
    }
    ::v-deep .van-radio-group {
      margin: 0 16px 6px;
      .van-radio {
        padding: 0 16px 8px 0;
      }
    }
  }
  .btns {
    display: flex;
    justify-content: center;
    padding-bottom: 18px;
    ::v-deep .van-button {
      font-size: 12px;
      width: 106px;
      height: 30px;
      margin-right: 21px;
      color: #fff;
      border: none;
      &.van-button--default {
        background-color: #FD5D48;
      }
      &.van-button--primary {
        background-color: #FFBF0A;
      }
    }
  }
}